extends layout

block content
	div(class='container-fluid')
		div(class='jumbotron')
			h1 Reasipe: recipes made easy
			div(class='row')
				p Please separate ingredients by comma or semicolon:
				div(class='input-group')
					input(type='text' class='form-control' placeholder='I have...')
					span(class='input-group-btn')
						button(class='btn btn-default' type='button')
							span(class='glyphicon glyphicon-search')