extends layout

block content
	div(class='container-fluid')
		div(class='jumbotron')
			h1 Reasipe: recipes made easy
			div(class='row')
				p Please separate ingredients by comma or semicolon:
				div(class='input-group')
					input(type='text' class='form-control' id="field" placeholder='I have...')
					span(class='input-group-btn')
						button(class='btn btn-default' type='button')
							span(class='glyphicon glyphicon-search')
			div(class='row')
				div(class='col-md-6')
					h3 Ingredients I have:
					p(id="ingredients")
				div(class='col-md-6')
					h3 Recipes I can make:
					p(id="results")

block scripts
	script(src="/javascripts/parser.js")